body {
	font-size: 12px;
	color: #808080;
	background-color: #fff;
}

dl li {
	list-style-type: none;
	padding-bottom: 10px;
}

a, a:hover {
	text-decoration: none;
	color: #808080;
}

dl dt {
	font-size: 16px;
	padding-bottom: 10px;
}

.enong-left {
	float: left;
	width: 10%;
	padding-right: 10px;
}

.enong-right {
	float: left;
	width: 90%;
	padding-left: 10px;
}

/*竖线*/
.enong-v-line {
	border-right: 1px solid #c0c0c0;
}


/*横线*/
.enong-h-line {
	border-bottom: 1px solid #c0c0c0;
}

/*面包屑 */
.enong-crumb {
	padding-bottom: 5px;
	border-bottom: 1px solid #c0c0c0;
}

.top-span {
	font-size: 14px;
	font-style: inherit;
	text-align: center;
	font-weight: bold;
	height: 60px;
}

.input-green {
	border-color: #4cae4c;
}

.div-green {
	color: #fff;
	background-color: #5cb85c;
	border-color: #4cae4c;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 14px;
}

.rtitle {
	padding-top: 10px;
	padding-bottom: 10px;
}